@use '../variables' as v;
@use '../functions' as f;
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&display=swap');

%baseSettings{
    width: 100%;
    height: f.toRem(50);
    font-family: v.$fontFamily;
    border-radius: 2%;
    color: v.$black;
}

%reset{
    border: v.$n;
    padding: 0;
}

.textInput{
    @extend %baseSettings;
    @extend %reset;
    outline: v.$n;
    font-size: f.toRem(20);

    &:not(:has(ul)){
        margin-bottom: f.toRem(12);
    }
}

.container{
    width: f.toRem(350);
    margin: 0 auto;

    button{
        @extend %baseSettings;
        @extend %reset;
        font-size: f.toRem(24);
        font-weight: 700;
    }
}
