@use '../variables' as v;
@use '../functions' as f;

%baseSettings{
    width: 100%;
    height: f.toRem(50);
    font-family: v.$fontFamily1;
    border-radius: 2%;
    color: v.$black;
}

%reset{
    border: none;
    padding: 0;
}

.textInput{
    @extend %baseSettings;
    @extend %reset;
    font-size: f.toRem(20);
    padding-left: f.toRem(6);

    &:not(:has(ul)){
        margin-bottom: f.toRem(12);
    }
}

.container{
    width: f.toRem(350);
    margin: 0 auto;

    button{
        @extend %baseSettings;
        @extend %reset;
        font-size: f.toRem(24);
        font-weight: 700;
        background-color: v.$gold;
    }
}
